html {
    overflow-y: scroll;
}

body {
    font-family: Calibri, sans-serif;
    padding: 0 2% 0 2%;
}

p {
    margin: 1%;
}

button {
    background-color: #4CAF50; /* Hintergrundfarbe */
    border: none; /* Kein Rahmen */
    color: white; /* Textfarbe */
    padding: 10px 20px; /* Innenabstand */
    text-align: center; /* Text zentriert */
    text-decoration: none; /* Keine Unterstreichung */
    display: inline-block; /* Inline-Block-Element */
    font-size: 12px; /* Schriftgröße */
    margin: 4px 2px; /* Außenabstand */
    cursor: pointer; /* Mauszeiger ändern bei Hover */
    border-radius: 5px; /* Abgerundete Ecken */
}

#formula {
    font-size: 130%;
}
#loesung {
    font-size: 130%;
    color: #ff0000; /*rgb(255, 0, 0)grundfarbe */
}

.form-block {
    margin: 10px;
}


details {
    padding: 0px;
    border: 2px solid #000000;
}

summary {
    margin: 5px;
    padding: 0px 3px 3px 3px;
    /* border: 2px solid #000000; */
    cursor: pointer;
    font-weight: bold;
    display: block;
}



summary::after {
    margin-left: 1ch;
    display: inline-block;
    content: '▶️';
    transition: 0.2s;
}

details[open] > summary::after {
    transform: rotate(90deg);
}

.form-block {
    border: 1px solid black;
    padding: 3px;
    margin-bottom: 10px;
}

/* Stil für die Radiobuttons */
input[type="radio"], input[type="checkbox"] {
    margin-top: 5px;
    margin-right: 3px;
    margin-left: 10px;
}

.solution {
    display: none;
    color: red;
    /* margin */
}

.loesungstext {
    color: rgb(61, 61, 61);
    font-weight: bold;
    font-style: italic;
    cursor: pointer;
    background-color: #ededed; /* Hintergrundfarbe */
    padding: 1px 5px 2px 5px;
    margin: 2% 0% 2% 0%;
}

.container {
    display: flex;
}

.column {
    flex: 1;
    padding: 3px;
}

#vorgehen { 
    padding: 1% 2% 1% 2%;
}

.hier_anzeigen{
    margin-left: 10%;
}

.switch {
    display: inline-block;
    position: relative;
    width: 420px;
    height: 34px;
    background: #ccc;
    border-radius: 17px;
    cursor: pointer;
    user-select: none;
}

.switch input {
    display: none;
}

.switch .slider {
    position: absolute;
    top: 2px;
    left: 2px;
    width: 50%;
    height: 30px;
    background: #4CAF50;
    border-radius: 15px;
    transition: left 0.25s;
}

.switch input:checked + .slider {
    left: calc(50% - 2px);
}

.switch .labels {
    position: absolute;
    width: 100%;
    height: 100%;
    display: flex;
    font-size: 12px;
    font-weight: bold;
}

.switch .labels span {
    flex: 1;
    text-align: center;
    line-height: 34px;
    z-index: 1;
}

/* Für rote Schrift der Lösung und des Lösungswegs */
.red-text {
    color: red;
}